<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fonts -->

    <!-- Bootstra CSS -->
    <link rel="stylesheet" href="/css/mainStyle.css">

    <title>Currency Converter</title>
</head>

<body>
    <div id="bg"></div>