<%include ./partials/head %>

<div class="main">
    <header>
        <h2>Currency Converter</h2>

        <a href="/">Home</a>
        <a href="/github" target="_blank">GitHub</a>
    </header>
    <div class="main-container">
        <p>You can refer to the README file in my <a href="/github">GitHub</a> repo for more detailed information.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Non sodales neque sodales ut etiam sit amet. Sagittis nisl rhoncus mattis rhoncus urna. Elit eget gravida cum sociis natoque. Sit amet est placerat in egestas erat imperdiet sed euismod. Sem integer vitae justo eget. Porttitor eget dolor morbi non. Egestas quis ipsum suspendisse ultrices gravida dictum. Lectus quam id leo in vitae turpis massa sed elementum. Urna nec tincidunt praesent semper feugiat nibh sed.</p>
        <p>Et netus et malesuada fames. Elit at imperdiet dui accumsan sit amet. Sed adipiscing diam donec adipiscing tristique risus. Eget gravida cum sociis natoque. Euismod quis viverra nibh cras pulvinar mattis nunc. Fermentum leo vel orci porta non. Nec ultrices dui sapien eget. Dictum non consectetur a erat nam at lectus urna duis. Sit amet est placerat in egestas erat imperdiet. Ut diam quam nulla porttitor massa. Feugiat scelerisque varius morbi enim. Ut diam quam nulla porttitor massa id neque aliquam.</p>
    </div>
</div>


<%include ./partials/footer %>