<%include ./partials/head %>

<div class="main">
    <header>
        <h2>Currency Converter</h2>

        <a href="/">Home</a>
        <a href="/github" target="_blank">GitHub</a>
    </header>
    <div class="main-container">

    </div>
</div>


<%include ./partials/footer %>