<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fjalla+One&display=swap">
    <link rel="stylesheet" href="/css/appStyle.css">
    <title>Currency Converter</title>
</head>

<body>
    <div class="main">
        <%include ./partials/header %>
        <p>Use this site to get your Currency!</p>
        <p>Exhange Rates Date: <span><%= date %></span></p>
        <form action="" method="">
            <input placeholder="Amount" type="text">
            <select id="currencyFrom" name="currencyFrom">
                <option value="EUR">EUR</option>
            </select>
            <select id="currencyTo" name="currencyTo">
                <% for (var i = 0; i < currency.length; i++) { %>
                    <option value="<%= currency[i] %>"><%= currency[i] %></option>
                <% } %>
            </select>
            <button>Convert</button>
        </form>
        <p id="message-1"></p>
    </div>
    <%include ./partials/footer %>

    <script src="/js/appScript.js"></script>
</body>

</html>