<%include ./partials/head.ejs %>
<%include ./partials/navbar.ejs %>

<div class="container mt-5">
    <div class="d-flex justify-content-around row">
        <div class="col-md-6" id="info">
            <p class="pt-2">Use this App to convert exchange rates between different currencies
            using the last exchange rates available online through https://fixer.io/ API.
            </p>
        </div>
        <div class="col-md-5" id="info">
            <p class="pt-2">Deployed with: <a href="https://dashboard.heroku.com/login">Heroku</a></p>
        </div>
    </div>
</div>

<%include ./partials/footer.ejs %>